In [1]:
# import libraries
import os
import pandas as pd

In [3]:
concept = pd.read_csv('volumes/data/dim/CONCEPT.csv.gz', header=0, sep='\t', low_memory=False)

In [4]:
concept.head()

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,1146945,concept.concept_id,Metadata,CDM,Field,S,CDM1,20141111,20991231,NaN
1,1146954,concept.invalid_reason,Metadata,CDM,Field,S,CDM10,20141111,20991231,NaN
2,1147044,observation_period.observation_period_id,Metadata,CDM,Field,S,CDM100,20141111,20991231,NaN
3,1147045,observation_period.person_id,Metadata,CDM,Field,S,CDM101,20141111,20991231,NaN
4,1147046,observation_period.observation_period_start_date,Metadata,CDM,Field,S,CDM102,20141111,20991231,NaN

In [5]:
concept.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535071 entries, 0 to 535070
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   concept_id        535071 non-null  int64
 1   concept_name      535070 non-null  object
 2   domain_id         535071 non-null  object
 3   vocabulary_id     535071 non-null  object
 4   concept_class_id  535071 non-null  object
 5   standard_concept  412345 non-null  object
 6   concept_code      535071 non-null  object
 7   valid_start_date  535071 non-null  int64
 8   valid_end_date    535071 non-null  int64
 9   invalid_reason    100364 non-null  object
dtypes: int64(3), object(7)
memory usage: 40.8+ MB

In [6]:
concept.tail()

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
535066,2213270,Molecular cytogenetics; chromosomal in situ hy...,Measurement,CPT4,CPT4,S,88272,19700101,20991231,NaN
535067,45889102,"Bone graft, any donor area",Procedure,CPT4,CPT4 Hierarchy,C,1003752,20141010,20991231,NaN
535068,2213271,Molecular cytogenetics; chromosomal in situ hy...,Measurement,CPT4,CPT4,S,88273,19700101,20991231,NaN
535069,2213272,Molecular cytogenetics; interphase in situ hyb...,Measurement,CPT4,CPT4,S,88274,19700101,20991231,NaN
535070,45889100,"Excision, coccygeal pressure ulcer, with coccy...",Procedure,CPT4,CPT4 Hierarchy,C,1003535,20141010,20991231,NaN